{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="content access-control">
          <script type="text/javascript">
              window.onload = function(){
                 setInterval("TrocaImagem()",0.4);
              }
              function TrocaImagem(){
                  document.getElementById('dlib').src = "http://127.0.0.1:8000/static/ia/dlib.jpeg?t=" + new Date().getTime();
              }
           </script>

        <img src="{% static 'ia/dlib.jpeg' %}" id="dlib" />

    </div>
{% endblock %}
