* {
    font-family: sans-serif;
    text-decoration: none;
}
body {
    margin: 0 auto;
    line-height: 1.7em;
}
p {
    color: #295f80;
    font-size: 20px;
}
a {
    color: #3b8bba;
}
.content {
    padding-top: 2em;
}
.l-box {
    padding: 1em;
}
.header {
    margin: 0 0;
}
.header .pure-menu {
    padding: 0.5em;
    background-color: #2d3e50;
}
.header .pure-menu a {
    color: #fff;
}
.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
.header .pure-menu-heading {
    float: left;
}
.header ul {
    float: right;
}
.home-menu {
    padding: 0.5em;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open {
    background: #2d3e50;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}
.pure-menu.pure-menu-open.pure-menu-horizontal {
    padding-left: 20px;
    height: 30px;
    font-weight: 200;margin
}
.pure-menu.pure-menu-open.pure-menu-horizontal ul{
    margin: 0;
    padding: 0;
}
.pure-menu.pure-menu-open.pure-menu-horizontal li{
    display: inline;
    text-transform: uppercase;
    padding-right: 25px;
    vertical-align: middle;
}
.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
body .primary-button {
    background: #02a6eb;
    color: #fff;
}
.splash {
    margin: 0 auto;
    padding: 1.5em 1em 0;
    background: #eee;
}
.splash .splash-head {
    font-size: 300%;
    margin: 0em 0;
    line-height: 1.2em;
}
.splash .splash-subhead {
    color: #999;
    font-weight: 300;
    line-height: 1.4em;
}
.splash .primary-button {
    font-size: 150%;
}
.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}
.content .content-ribbon {
    margin: 1.5em 3em;
    display: inline-flex;
}
.content .content-ribbon img{
    max-width: 400px;
}
.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
.ribbon h2 {
    display: inline;
    font-weight: normal;
}
.footer {
    background: #2d3e50;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}
ul.errorlist {
    margin: 0;
    padding: 0;
}
ul.errorlist li {
    color: #C53F3F;
    display: block;
    margin: 0.3em 0;
    font-size: 0.9em;
    border: none;
    padding: 0;
}
form.pure-form-aligned ul.errorlist li {
    padding-left: 11.5em;
}
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}
.pure-form input[type], .pure-form textarea, .pure-form  select {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    max-width: 350px;
    margin-bottom: 0.3em;
    border-radius: 6px;
    line-height: 25px;
    padding-left: 10px;
}
.pure-form textarea {
    max-width: 450px;
}
.pure-form .pure-control-group {
    margin-bottom: 1em;
}
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

.pure-button-primary {
    background: #1f8dd6;
    color: white;
    border-radius: 5px;
    font-size: 100%;
}
.inner {
    padding: 0em 1em;
}
.inner p {
    margin-top: 0;
}
ul.breadcrumb {
    padding: 0;
}
ul.breadcrumb li {
    display: inline-block;
}
ul.breadcrumb li a {
    display: inline-block;
    padding: 0.3em 0.7em;
}



.pure-ul{
    width: 100%;
}
.pure-ul ul{
    margin: 0;
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
}
.pure-ul li{
    margin-top: 15px;
    max-height: 400;
    display: inline-block;
    vertical-align: middle;
    margin: none;
}
.pure-hr{
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    border-radius: 30%;
}
.pure-ul img{
  max-height: 250px;
  max-width: 300px;
}
.pure-ul a{
    margin-left: 40px;
    text-transform: capitalize;
    color: #6a696b;
    font-size: 22px;
    letter-spacing: 1px;
}
.access-control img{
    width: 650px;
    height: 450px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -30px;
    margin-bottom: 30px;
}

.cadastro-imagens{
    display: inline-flex;
}
.cadastro-imagens ul{
    list-style: none;
    /* display: inline; */
}

.button {
  display: inline-block;
  padding: 8px 50px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background: #02a6eb;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.button:hover {background-color: #086085}

.button:active {
  background-color: #086085;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}
