{% extends "base.html" %}

{% load static %}

{% block content %}
<form class="pure-form" method="post">

<div class="pure-block">
    <div class="pure-1-2">
        {% csrf_token %}
        <div class="page-horizontal-aligned">
            <h2>Informe os dados do usuário</h2>

            {{ form.non_field_errors }}

            {% for field in form %}
            <div class="pure-control-group">
                <div class="fields">
                  {{ field.label_tag }}
                  {{ field }}
                  {{ field.errors }}
                </div>
            </div>
            {% endfor %}
                <button type="button" id="capture" class="button" style="margin-bottom: 3mm;">Capturar Foto</button>

                <div class="cadastro-usuario">
                    <img id="img_original" src="{% static 'ia/dlib.jpeg' %}"/>
                    <canvas id="snapshot" width=400 height=300 style="display:none;"/>
                </div>
            <div style="margin-top: 30px;">
                <button type="submit" class="button align-bottom">Cadastrar</button>
            </div>
        </div>
    </div>
    <div class="vertical-hr-right"> </div>
    <div class="pure-2-2">
        <div class="section-fotos">
            <section class="fotos"/>
        </div>
    </div>
</div>
</form>
<script type="text/javascript" src="{% static 'js/webcam.js' %}"></script>
{% endblock %}
